<h1>Productos en el carrito</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Thumbnail</th>
      <th scope="col">Code</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody id="productList">

  </tbody>
</table>

<button class="btn btn-secondary m-4" onclick="window.location.href = '/api/v1/views/products/1'">Open Products</button>

<script src="/js/cart.js"></script>