<div class="container" style="margin: 20px;">
  <div class="row">
    <div class="col-md-6">
      <div class="rounded-box">
        <h3>Add product</h3>
        <form onsubmit="saveForm(); return false;">
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" class="form-control" />
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" class="form-control"></textarea>
          </div>

          <div class="form-group">
            <label for="thumbnailUrl">Thumbnail URL:</label>
            <input type="text" id="thumbnailUrl" class="form-control" />
          </div>

          <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" step="0.01" class="form-control w-25" />
          </div>

          <div class="form-group">
            <label for="code">Code:</label>
            <input type="text" id="code" class="form-control w-25" />
          </div>
          <div class="form-group">
            <label for="stock">Stock:</label>
            <input type="number" id="stock" class="form-control w-25" />
          </div>
          <input type="submit" value="Save" class="btn btn-outline-success" />
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div style="border-radius: 10px; border: 1px solid #ccc; padding: 15px;">
        <h3>Chat</h3>
        <div class="mb-3">
          <div id="messages-log" style="height: 200px; overflow-y: scroll; border: 1px solid #ccc; padding: 10px;">
          </div>
        </div>
        <div class="mb-3">
          <label for="message-text" class="col-form-label">Message:</label>
          <input class="form-control" id="message-text" />
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>