<div>
  <form class="row g-3" id="registerForm" onsubmit="handleSubmit(); return false;">
    <div class="col-md-12 mt-3">
      <label for="validationServer01" class="form-label">First name</label>
      <input type="text" class="form-control" id="firstName" placeholder="Please, write name" required />
    </div>
    <div class="col-md-12 mt-3">
      <label for="validationServer02" class="form-label">Last name</label>
      <input type="text" class="form-control" id="lastName" placeholder="Please, write last name" required />
    </div>
    <div class="col-md-12 mt-3">
      <label for="validationServerUsername" class="form-label">Username</label>
      <div class="input-group has-validation">
        <input type="text" class="form-control" id="username" required />
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-3">
      <label for="validationServerUsername" class="form-label">Password</label>
      <div class="input-group has-validation">
        <input type="password" class="form-control" id="password" required />
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div>
    <div class="col-12 mt-5">
      <button class="btn btn-primary" type="submit">Create user</button>
    </div>
  </form>
  <p>Do you already have an account?<a href="/login"> Press here</a></p>
</div>

<script src="/js/register.js"></script>